@import "./color_variables";

h1, h2, h3, h4, h5, h6, a, p, div {
  font-family: 'Oswald', sans-serif;
}

a {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 150%;
}

a, a:visited {
  color: $dark-accent;
}

a:hover {
  color: $dark-accent;
  text-decoration: underline;
}
